@import url(https://fonts.googleapis.com/css?family=Knewave);

$gaegu: 'Gaegu';

body {
  background-color: #451aa9;
  font-family: 'Knewave', cursive;
  color: #7fc85b;

  .cowsay {
    text-align: center;

    label, button {
        background-color: rgb(31, 30, 29);
      color: rgb(228, 211, 23);
      display: block;
     }

    ul {
      display: inline-block;
    }
  }
}